llm-scriptplayer.netlify.app/static/node_modules
llm-scriptplayer.netlify.app/static/webpack
fonts.googleapis.com
www.handyfeeling.com
main.py
llm-scriptplayer.netlify.app/logo192.png
llm-scriptplayer.netlify.app/favicon.ico